{% extends 'base.jinja2' %}

{% block subtitle %}Filter Donations By User{% endblock subtitle %}

{% block content %}
<form method="POST">
    {% if error %}<p>{{ error }}</p>{% endif %}
    <label for="name-input">Username:</label><input id="name-input" type="text" name="name"><br>
    <input type="submit" value="Filter!">
</form>
{% endblock content %}
